{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}



<body>

      <h2>validation</h2>
<p>Le login saisi est: {{ login }} <br> Le mot de passe saisi est: {{ password }} <br>{{ validation }} </p></br></br>

<a class="nav-link" href="session">
<button class="btn btn-lg btn-primary" type="button">retour</button></a>

    </body>

</html>
{% endblock %}
